<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TicTacToe</title>
<link rel="stylesheet" href="" th:href="@{/css/style.css}" />
<script type="" th:src="@{/js/myjs.js}" defer></script>
</head>
<body> 
	<p class ="spielanzeige"></p>
<div class = "grid">
	<button class = "felder "></button>
	<button class = "felder "></button>
	<button class = "felder"></button>
	<button class = "felder"></button>
	<button class = "felder"></button>
	<button class = "felder"></button>
	<button class = "felder"></button>
	<button class = "felder"></button>
	<button class = "felder"></button>
</div>
<div class="endsrceen">
	<p class="endsrceen-text"></p>
	<button class="restart">Neues Spiel!</button>
</div>
</body>
</html>